
/* Flex Tab Bar */

/* Disable CVS and Split editor buttons */
.editor-actions {
  display: none;
}

.monaco-workbench > .part.editor > .content .editor-group-container {
  display: flex;
  flex-direction: row;
}

.monaco-workbench > .part.editor > .content .editor-group-container > .title {
  overflow: visible;
  height: 100%;
  width: 250px;
  flex-direction: column;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title.tabs > .tabs-and-actions-container {
  height: 100%;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title.tabs > .tabs-and-actions-container > .monaco-scrollable-element {
  height: 100% !important;
}

.monaco-workbench > .part.editor > .content .editor-group-container > .title .tabs-container {
  flex-direction: column;
  height: 100%;
  width: auto;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit {
  width: 100%;
  min-width: auto;
}

.monaco-workbench .part.editor > .content .editor-group-container.empty > .editor-container  {
  width: calc(100% - 250px);
}
